<h1>Admin: Shelters</h1>

<% @shelters.each do |shelter|%>
  <div id="#shelter-<%= shelter.id %>">
    <h3><%= shelter.name %></h3>
  </div>
<% end %>
  
<div id="pending-shelters" >
  <h4>Shelters With Pending Applications:</h4>
  <% @pending_shelters.each do |shelter| %>
      <p><%= shelter.name %></p>
  <% end %>
</div>
